.blog, .article{
    position: relative;
    height: fit-content;
    padding-bottom: 0;
}

.article, .title{
    min-height: auto;
    height: fit-content;
    padding: 0 10px;
    white-space: normal;
}

.published{
    margin: 20px 0 60px;
    padding: 0 10px;
    text-transform: capitalize;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}

.published span{
    font-weight: 700;
    font-style: normal;
}

.article *{
    word-break: break-word;
    margin: 30px 0;
    color: #2d2d2d;
}

.article-image{
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 30px auto;
    object-fit: contain;
}

.sub-heading{
    padding: 0 5vw;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 40px;
    margin-top: 80px;
}
.blogs-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Esto permitirá que las tarjetas se ajusten en múltiples filas si no hay suficiente espacio en una sola fila */
    gap: 20px; /* Espacio entre las tarjetas */
  }
  .btn{
    background-color: #4b89bf;
    position: relative;
    bottom: -2rem;
  }
  .navbar{
    background-color: #4b89bf;
  }

  #edit-blog-btn {
    background: rgba(0, 0, 0, 0.2);
    display: none;
  }
  .header {
    position: relative; /* Asegúrate de que tenga una posición distinta de 'static' para que 'z-index' funcione */
    z-index: 2; /* Un valor más alto que el del banner */
    /* Agrega aquí otros estilos para el encabezado */
  }
  
  .banner {
    position: relative; /* Asegúrate de que tenga una posición distinta de 'static' para que 'z-index' funcione */
    z-index: 1; /* Un valor más bajo que el del encabezado */
    /* Agrega aquí otros estilos para el banner */
  }
.btn-news{
    top: 42%;
}  

.btn-edit .btn{
    position: relative;
    margin-left: 15%;
    background: #a5a5a5;
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
}
